html {
	/* This defines the rem which is: 1rem = 10px */
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: Roboto, -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

*,
*::after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

img	{
	max-width: 100%;
	height: auto;
}

a {
	color: skyblue;
}




