.btn {
	background-color: transparent;
	font-size: 1.6rem;
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: .375rem .75rem;
	border-radius: .3rem;
	line-height: 1.5;
	transition: all .3s ease-out;

	&--outline-primary {
		border: 1px solid $primaryColor;
		color: $primaryColor;


		&:hover {
			background-color: $primaryColor;
			color: white;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
		}
	}

	&--primary {
		background-color: $mainColor ;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

		&:hover {
			box-shadow: 0 5px 7px 0 rgba(0,0,0,.16), 0 5px 12px 0 rgba(0,0,0,.12);
			background-color: $primaryColor;
		}
	}

	&--primary1 {
		background-color: #4a148c ;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
		margin-bottom: 5px;

		&:hover {
			box-shadow: 0 5px 7px 0 rgba(0,0,0,.16), 0 5px 12px 0 rgba(0,0,0,.12);
			background-color: #c2185b;
		}
	}


	&--large {
		font-size: 2rem;
		padding: .575rem 1.5rem;
		border-radius: .3rem;
		line-height: 1.5;
	}


}