.row {
	display: flex;
	align-items: center;
	flex-direction: column;

	&--md-flex-row {
		@mixin atMedium {
			flex-direction: row;
		}
	}

	&--align-start {
		align-items: flex-start;
	}

	&--lg-flex-row {
		@mixin atLarge {
			flex-direction: row;
		}
	}

	&--gutters-small {
		margin-right: -2rem;
	}

	&--gutters-small > div {
		padding-right: 2rem;
	}

	&--gutters {
		margin-right: -4rem;
	}

	&--gutters > div {
		padding-right: 4rem;
	}

	&--gutters-large {
		margin-right: -6rem;
	}

	&--gutters-large > div {
		padding-right: 6rem;
	}

}
.col {

	&-lg-8 {

	}

	&-lg-4 {

	}

	&-md-7 {

	}

	&-md-3 {

	}

	&-md-4 {

	}

	@mixin atMedium {
		&-md-7 {
			width: 58.33%;
		}

		&-md-5 {
			width: 41.67%;
		}

		&-md-4 {
			width: 33.33%;
		}
	}

	@mixin atLarge {
		&-lg-8 {
			width: 66.66%
		}

		&-lg-4 {
			width: 33.33%;
		}


	}


}

