.my-skills {

	&.lazyloaded {
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.2);
	background-image: linear-gradient(to right bottom, rgba(#e1bee7, 0.9), rgba(#e1bee7, 0.9)) ,url(../../assets/images/nat-4.jpg);
	background-size: cover;
	}

	
	&__card {
		background-color: rgba(255,255,255, 0.1);
		text-align: center;
		overflow: hidden;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.15);
		border-radius: .3rem;
		margin-bottom: 2rem;


		@mixin atMedium {
			margin-top: 5px;
			margin-bottom: 0;

			&--mb {
				margin-bottom: 6px;
			}
		}

		&-img {
			padding: 2rem 0 1rem 0;
		}

		&-icon {
			
		}

		&-body {
			padding: 1rem 1rem;
		}

		&-title {
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 1.5rem;
			color: $mainColor;
		}

		&-text {
			font-size: 1.5rem;
			font-weight: 300;
			padding: 1.5rem 0;
			line-height: 1.4;
			color: $mainGray;
		}
	}
}

