.wrapper {
	overflow: hidden;
	padding-right: 18px;
	padding-left: 18px;
	max-width: 1136px;
	margin-left: auto;
	margin-right: auto;

	&--narrow-xs-to-md {
		max-width: 800px;
		@mixin atLarge {
			max-width: 1136px;
		}
	}

	&--my-profile {
		max-width: 600px;
		@mixin atMedium {
			max-width: 1136px;
		}
	}
}



